<div class="card my-1 select-card">
  <div class="card-body" onclick="location.href='/tweets/:id/replies'" style="cursor: pointer;">
    <div class="row no-gutters">
      {{!-- 大頭照 --}}
      <div class="col-3 pr-5">
        <a href="/users/1/tweets">
          <img src={{user.avatar}} alt="avatar" id="avatarTweet">
        </a>
      </div>
      {{!-- 貼文內容 --}}
      <div class="col pt-1 ml-n4">
        <h6 class="card-subtitle mb-2 text-muted">@{{user.name}},time</h6>
        <p class="card-text">{{description}}</p>
        <a href="/tweets/1/replies" class="card-link">Reply({{replyCount}})</a>
        <a href="#" class="card-link">like({{likeCount}})</a>
        <a href="#" class="card-link">Unlike({{likeCount}})</a>
      </div>
    </div>
  </div>
</div>
</a>