<div class="col-6">
  <div class="card mb-1 mx-1 select-card">
    <div class="card-body" onclick="location.href='/users/{{id}}/tweets'" style="cursor: pointer;">
      <div class="row no-gutters">
        {{!-- 大頭照 --}}
        <div class="col-lg-4">
          <a href="/users/{{id}}/tweets">
            <img src={{avatar}} alt="avatar" id="avatarFollow">
          </a>
        </div>
        {{!-- 簡介內容 --}}
        <div class="col mt-2 text-center">
          <h6 class="card-subtitle my-2 text-muted">@{{name}}</h6>
          <p class="card-text card-follow-text text-truncate-multiple-lines">{{introduction}}</p>
          {{#if viewUser}}
            {{#if isFollowed}}
              <a action="/followships/{{otherUser.id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger mt-3">Unfollow</button>
              </a>
            {{else}}
              <form action="/followships/{{otherUser.id}}" method="POST">
                <button type="submit" class="btn btn-primary mt-3">Follow</button>
              </form>
            {{/if}}
          {{else}}
            </br>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>