<tr>
  <th scope="row">{{id}}</th>
  <td><a href="/users/{{id}}/tweets">
      <img src={{avatar}} id="avatarProfile">
      {{name}}</a></td>
  <td>{{role}}</td>
  <td>{{Tweets.length}}</td>
  <td>{{Followings.length}}</td>
  <td>{{Followers.length}}</td>
  <td>{{Likes.length}}</td>
  <td>{{moment createdAt}}</td>

  <td>
    <form action="/admin/users/{{id}}?_method=PUT" method="POST">
      <button class="btn {{#ifCond this.role "user"}}btn-danger {{else}} btn-primary {{/ifCond}} btn-sm">
        Set {{#ifCond this.role "admin"}}User {{else}} Admin {{/ifCond}}
      </button>
    </form>
  </td>
</tr>