<div class="card mb-1 select-card">
  <div class="card-body" onclick="location.href='/users/{{id}}/tweets'" style="cursor: pointer;">
    <div class="row">
      {{!-- 大頭照 --}}
      <div class="col-3 mx-n2">
        <img src="{{avatar}}" alt="avatar" id="avatarPopular">
      </div>
      {{!-- 貼文內容 --}}
      <div class="col mt-2 pl-4">
        <h6 class="card-subtitle mb-2 text-muted">@ {{name}}</h6>
        <p class="card-text popular-text text-truncate-multiple-lines">{{introduction}}</p>
        {{#if isFollowed}}
          <button type="button" class="btn btn-danger btn-sm float-right">Unfollow</button>

        {{else}}
          <button type="button" class="btn btn-primary btn-sm float-right">Follow</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>