<tr>
  <td scope="row">{{id}}</td>
  <td>
    <a href="/users/{{User.id}}/tweets"><img src={{User.avatar}} id="avatarProfile">{{User.name}}
    </a>
  </td>

  <td style="max-width: 200px;">
    <p style="overflow-y: scroll;">{{description}}</p>
  </td>
  <td>{{Replies.length}}</td>
  <td>{{Likes.length}}</td>
  <td>{{moment createdAt}}</td>
  <td>
    <form action="/admin/tweets/{{id}}?_method=DELETE" method="POST" style="float: right;">
      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </form>
  </td>
</tr>