{{!-- 推主個人檔案--}}
{{!-- 推主照片 --}}
<div class="text-center">
  <img src="{{avatar}}" alt="avatar" id="avatarProfileLg">
  {{!-- 推主簡介 --}}
  <h2 class="mt-3">{{name}}</h2>
  <div class="mx-auto" style="width: 15rem;">
    <p>{{introduction}}</p>
    {{!-- 推主資訊 --}}
    <ui class="align-items-center listVertical">
      <a href="/users/{{id}}/tweets">
        <strong>Tweets</strong>
        <span class="badge badge-primary badge-pill">{{Tweets.length}}</span>
      </a>

    </ui>
    <ui class="align-items-center listVertical">
      <a href="/users/{{id}}/followings">
        <strong>Following</strong>
        <span class="badge badge-primary badge-pill">{{Followings.length}}</span>
      </a>

    </ui>
    <ui class="align-items-center listVertical">
      <a href="/users/{{id}}/followers">
        <strong>Follower</strong>
        <span class="badge badge-primary badge-pill">{{Followers.length}}</span>
      </a>

    </ui>
    <ui class="align-items-center listVertical">
      <a href="/users/{{id}}/likes">
        <strong>Like</strong>
        <span class="badge badge-primary badge-pill">{{LikedTweets.length}}</span>
      </a>

    </ui>
  </div>
</div>