<tr>
  <th scope="row">{{id}}</th>
  <td><a href="/users/{{id}}/tweets">
      <img src={{avatar}} id="avatarProfile">
      {{name}}</a></td>
  <td>{{role}}</td>
  <td>{{Tweets.length}}</td>
  <td>{{Followings.length}}</td>
  <td>{{Followers.length}}</td>
  <td>{{Likes.length}}</td>
  <td>{{createdAt}}</td>

  <td>
    <form action="/admin/users/{{id}}?_method=PUT" method="POST">
      <button class="btn {{#if this.isAdmin}}btn-primary {{else}} btn-danger {{/if}} btn-sm">
        Set {{#if this.isAdmin}}User {{else}} Admin {{/if}}
      </button>
    </form>
  </td>
</tr>