<div class="card my-1 select-card">
  <div class="card-body" onclick="location.href='/tweets/{{id}}/replies'" style="cursor: pointer;">
    <div class="row no-gutters">
      {{!-- 大頭照 --}}
      <div class="col-3 pr-5">
        <a href="/users/{{User.id}}/tweets">
          <img src={{User.avatar}} alt="avatar" id="avatarTweet">
        </a>
      </div>
      {{!-- 貼文內容 --}}
      <div class="col pt-1 ml-n4">
        <h6 class="card-subtitle mb-2 text-muted">@ {{User.name}}, {{moment createdAt}} {{geoInfo}}</h6>
        <p class="card-text tweet-post">{{description}}</p>
        <div class="interation-block">
          <a href="/tweets/{{id}}/replies" class="card-link far fa-comment-dots" style="font-size:1.2rem">
            {{replyCount}}</a>

          {{#if isLiked}}
          <form action="/tweets/{{id}}/unlike" method="POST" class="card-link" style="display:inline-block">
            <button type="submit" class="fas fa-heart button-nofunny"
              style="color: rgb(255, 102, 110);font-size:1.2rem">
              {{likeCount}}
            </button>
          </form>
          {{else}}
          <form action="/tweets/{{id}}/like" method="POST" class="card-link" style="display:inline-block">
            <button type="submit" class="far fa-heart button-nofunny"
              style="color: rgb(255, 102, 110);font-size:1.2rem">
              {{likeCount}}
            </button>
          </form>
          {{/if}}




        </div>

      </div>
    </div>
  </div>
</div>
</a>