<div class="container">
  <div class="row">
    <div class="col-4 mt-4 text-center" id="popularField">
      {{!-- 推主個人檔案 --}}
      {{#if thisUser}}
        {{>blockUserProfile profile}}
      {{else}}
        {{>blockUserProfile profile}}
      {{/if}}

      <div class="mx-auto text-center" style="width: 15rem;">
        {{!-- 編輯按鈕 --}}
        {{#if thisUser}}
          <a href="/users/{{profile.id}}/edit" type="button" class="btn btn-primary mt-4">Edit Profile</a>
        {{else}}
          {{#if isFollowed}}
            <form action="/followships/{{profile.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger mt-4">Unfollow</button>
            </form>

          {{else}}
            <form action="/followships/{{profile.id}}" method="POST">
              <button type="submit" class="btn btn-primary mt-4">Follow</button>
            </form>
          {{/if}}
        {{/if}}
      </div>

    </div>

    {{!-- 推主追蹤誰 --}}
    <div class="col" id="main-stream">
      {{!-- Following --}}
      <h3 class="mt-5">Following</h3>
      <div class="row no-gutters my-3">
        {{!-- 右欄 --}}
        <div class="col">
          <div class="row no-gutters">
            {{#if thisUser}}
              {{#each followingList as |following|}}
                {{#> blockFollowing}}
                  {{following.value}}
                  {{/ blockFollowing}}
              {{/each}}
            {{else}}
              {{#each followingList as |following|}}
                {{#> blockFollowing}}
                  {{following.value}}
                  {{/ blockFollowing}}
              {{/each}}
            {{/if}}

          </div>
        </div>
      </div>
    </div>
  </div>