{{>navBar data = user}}
<div class="container">
  <div class="row">
    <div class="col-4 mt-4 text-center" id="popularField">
      {{!-- 推主個人檔案 --}}
      {{#if thisUser}}
        {{>blockUserProfile profile}}
      {{else}}
        {{>blockUserProfile profile}}
      {{/if}}

      <div class="mx-auto text-center" style="width: 15rem;">
        {{!-- 編輯按鈕 --}}
        {{#if thisUser}}
          <a href="/users/{{profile.id}}/edit" type="button" class="btn btn-primary mt-4">Edit Profile</a>
        {{else}}
          {{!-- 追蹤按鈕 --}}
          {{#if isFollowed}}
            <form action="/followships/{{profile.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger mt-4">Unfollow</button>
            </form>
          {{else}}
            <form action="/followships/" method="POST">
              <button type="submit" name="id" value="{{profile.id}}" class="btn btn-primary mt-4">Follow</button>
            </form>
          {{/if}}
        {{/if}}
      </div>

    </div>
    {{!-- 誰追蹤推主 --}}
    <div class="col" id="main-stream">
      {{!-- Follower --}}
      <h3 class="mt-5">Follower</h3>
      <div class="row no-gutters my-3">
        {{!-- 右欄 --}}
        <div class="col">
          <div class="row no-gutters">
            {{#if thisUser}}
              {{#each followerData as |follower|}}
                {{#> blockFollow}}
                  {{follower.value}}
                  {{/ blockFollow}}
              {{/each}}
            {{else}}
              {{#each followerData as |follower|}}
                {{#> blockFollow}}
                  {{follower.value}}
                  {{/ blockFollow}}
              {{/each}}
            {{/if}}



          </div>
        </div>
      </div>
    </div>
  </div>
</div>