<div class="container">
  <div class="row">
    <div class="col-4 mt-4 text-center" id="popularField">
      {{!-- 推主個人檔案 --}}
      {{#if thisUser}}
        {{> blockUserProfile data = user}}
      {{/if}}
      {{!-- 瀏覽他人檔案 --}}
      {{#if viewUser}}
        {{> blockUserProfile data = otherUser}}
      {{/if}}

      <div class="mx-auto text-center" style="width: 15rem;">
        {{!-- 編輯按鈕 --}}
        {{#if thisUser}}
          <a href="/users/{{user.id}}/edit" type="button" class="btn btn-primary mt-4">Edit Profile</a>
        {{/if}}

        {{!-- 追蹤按鈕 --}}
        {{#if viewUser}}
          {{#if isFollowed}}
            <form action="/followships/{{otherUser.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger mt-4">Unfollow</button>
            </form>

          {{else}}
            <form action="/followships/{{otherUser.id}}" method="POST">
              <button type="submit" class="btn btn-primary mt-4">Follow</button>
            </form>
          {{/if}}
        {{/if}}
      </div>
    </div>


    {{!-- Like貼文牆時間軸 --}}
    <div class="col" id="main-stream">
      {{!-- 原推文 --}}
      <h3 class="mt-5">Like</h3>
      <div class="row no-gutters my-3">
        <div class="col">
          {{#if thisUser}}
            {{#each tweets as |tweet|}}
              {{#> blockLikePost}}
                {{tweet.value}}
                {{/ blockLikePost}}
            {{/each}}
          {{/if}}

          {{#if viewUser}}
            {{#each tweets as |tweet|}}
              {{#> blockLikePost}}
                {{tweet.value}}
                {{/ blockLikePost}}
            {{/each}}
          {{/if}}
        </div>
      </div>
      {{!-- ------ --}}

    </div>
  </div>
</div>