<div class="container">
  <div class="row">
    <div class="col-4 mt-4" id="popularField">
      {{!-- 推主個人檔案 --}}
      {{#if thisUser}}
        {{>blockUserProfile data = user}}
      {{/if}}
      {{!-- 瀏覽他人檔案 --}}
      {{#if viewUser }}
        {{>blockUserProfile data = otherUser}}
      {{/if}}


      <div class="mx-auto text-center" style="width: 15rem;">
        {{!-- 編輯按鈕 --}}
        {{#if thisUser}}
          <a href="/users/{{user.id}}/edit" type="button" class="btn btn-primary mt-4">Edit Profile</a>
        {{/if}}

        {{!-- 追蹤按鈕 --}}
        {{#if viewUser}}
          {{#if isFollowed}}
            <form action="/followships/{{user.id}}?_method=DELETE">
              <button type="submit" class="btn btn-danger mt-4">Unfollow</button>
            </form>

          {{else}}
            <form action="/followships/{{user.id}}" method="POST">
              <button type="submit" class="btn btn-primary mt-4">Follow</button>
            </form>
          {{/if}}

        {{/if}}
      </div>


    </div>



    {{!-- 個人貼文牆時間軸 --}}
    <div class="col">
      {{!-- 原推文 --}}
      <div class="row my-4">
        <div class="col">
          {{#if thisUser}}
            {{#each tweets as |tweet|}}
              {{#> blockTweetPost}}
                {{tweet.value}}
                {{/ blockTweetPost}}
            {{/each}}
          {{/if}}

          {{#if viewUser}}
            {{#each tweets as |tweet|}}
              {{#> blockTweetPost}}
                {{tweet.value}}
                {{/ blockTweetPost}}
            {{/each}}
          {{/if}}

        </div>
      </div>
      {{!-- ------ --}}

    </div>
  </div>
</div>